<body background="/atl1.jpg">

<div class="container">
  
  <div class="jumbotron">
    <h1>New User</h1>
    <%= render 'form' %>
  </div>
  
  <%= link_to 'Back', users_path, class: 'btn btn-default' %>
</div>

</body>